.sidebarOption {
    color: gray;
    height: 40px;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;
}

.sidebarOption:hover {
    color: white;
    cursor: pointer;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > h4 {
    font-size: 14px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}